@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
}

$whitePrimary: #faf9f6;
$whiteSecondary: #ebeef0;
$blackMain: #28282b;
$blueMain: #125bc9;

html {
  background-color: $whitePrimary;
}

:root {
  --font: 'Poppins';
}

@mixin semibold {
  font-family: var(--font);
  font-weight: 600;
  font-style: normal;
}

@mixin regular {
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
}
